html {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

.headroom--pinned,
.headroom--unpinned {
    position: fixed !important;
}
.headroom {
    transition: all .2s ease;
    background-color: inherit;
    will-change: transform;
}
@media screen and (prefers-reduced-motion: reduce) {
    .headroom {
        transition: none;
    }
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.headroom--not-top {
    background-color: #172b4d;
}

/* Navbar */
.navbar-main {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}
.navbar-main.headroom--not-top.headroom--pinned {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-brand {
  padding-right: 30px;
}
.nav-link {
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-nav {
  align-items: center;
}
.navbar-nav > .nav-item {
  padding-left: 6px;
  padding-right: 6px;
}
.navbar-nav >.nav-social > .nav-link {
  padding-right: 10px;
  padding-left: 10px;
}
.nav-members > .nav-link {
  padding-right: 10px;
  padding-left: 10px;
}
.navbar-collapse .nav-members {
  margin-top: -10px;
  margin-bottom: -10px;
}
.navbar-collapse.show .nav-members,
.navbar-collapse.collapsing .nav-members
{
  margin-top: 0;
  margin-bottom: 0;
}

/* Main */
main.main {
  min-height: 100vh;
  background-color: #f3f3f7;
}

/* Sections */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  padding-bottom: 0.75rem;
  letter-spacing: 2px;
}
.section-subtitle {
  font-size: 1.33rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
.section-description {
  font-size: 0.785rem;
  font-weight: 300;
  line-height: 1.75;
  padding-bottom: 1rem;
}
svg.bg_shape {
  width: calc(100vw + 2rem);
  height: auto;
  margin-left: -1rem;
  margin-top: -1rem;
}
.bg_shape_invert {
  transform: rotateX(180deg) scaleX(-1);
  margin-bottom: -1rem;
}

/* Uvod / Header */
.section#uvod {
  /* min-height: 30vh; */
  background-image: url("/assets/img/shape.svg");
  background-repeat: no-repeat;
  background-position: center 100.5%;
  background-size: 101% auto;
  padding-top: 80px;
}
@media screen and (max-width: 992px) {
  .section#uvod {
    padding-top: 120px;
  }
}
.header-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.header-description {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.75;
  color: #ffffff;
}
.header-image {
  margin-bottom: -3rem;
}
/* Why Prague */
.section#why-prague {
  background-color: #f3f3f7;
}

/* Testimonials */
.review-card {
  padding: 1.75rem 1.75rem;
  border: none;
  border-radius: 0;
  color: var(--primary);
  background-color: #ffffff;
}
.review-name {
  font-weight: 400;
}
.review-country {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.review-text {
  font-size: 0.875rem;
  font-weight: 400;
}
/* Tiny-Slider */
.review-slider {
  background-color: #f3f3f7;
}
.container-slider {
  width: 80vw;
  margin: 0 auto;
}
.tns-controls {
  display: flex;
  justify-content: space-between;
}
.slider-controls {
  margin-bottom: -12rem;
}
.slider-prev, .slider-next {
  z-index: 99;
}
.slider-controls:focus {
  outline: none;
}

/* World placements */
.map-holder {
  margin-top: -160px;
}
.world-card-text {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.05rem;
}
.world-card-title {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.75;
}
.world-card-title-white {

  font-weight: 400;
}

/* Cultural projects */
.section#cultural-projects {
  background-color: #e8e8ef;
  background-image: url("/assets/img/shape_light.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 101% auto;
}
.lifeshow-team {
  background-color: #f3f3f7;
  margin-bottom: 1rem;
}
.roles-heading {
  margin-bottom: 2px;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.roles-name {
  font-size: 0.65rem;
  font-weight: 300;
}

/* FAQ */
.section#faq {
  background-color: #f3f3f7;
}
.questions-block {
  position: relative;
}
p.card-text.card-answer {
  font-size: 0.75rem;
}

/* Contact */
.contact-info {
  font-size: 0.75rem;
  font-weight: 300;
}
.contact-info .roles-heading {
  font-weight: 500;
}

/* Misc */
/* Buttons */
a.btn.btn-gallery {
  color: var(--primary);
  margin-top: -5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.65rem;
  font-weight: 400;
  text-shadow: 0px 0px 4px rgba(20, 20, 102, 0);
  transition: text-shadow 300ms ease;
}
a.btn.btn-gallery:hover,
a.btn.btn-gallery:active,
a.btn.btn-gallery:focus
{
  text-shadow: 0px 0px 5px rgba(20, 20, 102, 0.4);
}
@media screen and (max-width: 1200px) {
  a.btn.btn-gallery {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 768px) {
  a.btn.btn-gallery {
    font-size: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .review-card {
    padding: 0.5rem 0.5rem;
  }
}
a.btn {
  font-weight: 400;
  font-size: 8px;
  border-radius: 24px;
  padding: 12px 44px;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
}
a.btn.btn-question {
  background-color: #ffffff;
  color: var(--primary);
  letter-spacing: initial;
  font-size: 0.75rem;
  padding-left: 28px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms ease;
}
a.btn.btn-question[aria-expanded="true"] {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
a.btn.btn-question img {
  transition: all 300ms ease;
}
a.btn.btn-question[aria-expanded="true"] img {
  transform: rotateZ(90deg);
}
a.btn.btn-question:hover {
  /* padding-left: 34px; */
  padding-right: 6px;
}
.visualio {
  position: absolute;
  bottom: 0;
	display: inline-flex;
  margin: 40px 0 0;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  line-height: 10px;
  align-items: center;
}
.visualio svg {
	fill: #141466;
	display: block;
	width: 26px;
  height: 16px;
  margin-left: 5px;
}
